
@{
    ViewBag.Title = "Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Admin/Account</h2>

<p>this is where you'll manage your events, services, members and appointments</p>

<div class="row">
    <div class="col-lg-3">
        @Html.ActionLink("Events", "Index", "Party", null, new { @class = "btn btn-lg btn-outline-dark btn-block" })
    </div>
    <div class="col-lg-3">
        @Html.ActionLink("Members", "Index", "Member", null, new { @class = "btn btn-lg btn-outline-dark btn-block" })
    </div>
    <div class="col-lg-3">
        @Html.ActionLink("Services", "Index", "Offer", null, new { @class = "btn btn-lg btn-outline-dark btn-block" })
    </div>
    <div class="col-lg-3">
        @Html.ActionLink("Appointments", "Index", "Offer", null, new { @class = "btn btn-lg btn-outline-dark btn-block" })
    </div>
</div>
