
@{
    ViewBag.Title = "Members";
}

<h2>Members</h2>

@*manage memberships here*@

<table class="table table-bordered">
    <thead>
        <tr>
            <td>Name</td>
            <td>Location</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Test</td>
            <td>Tyler</td>
        </tr>
    </tbody>
</table>