<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <button id="btnCycleFont" type="button">Cycle Body Font</button>
            <button id="btnCycleHeaderFont" type="button">Cycle Header Font</button>
            <span style="background-color:yellow; color: #000;">(NOTE) Dev to Client: The font resets if you leave this page.</span>
            <span id="spnCurrentFontFamily"></span>
            <span id="spnCurrentHeaderFontFamily"></span>
            <p>&copy; @DateTime.Now.Year - Everlasting Aesthetics</p>
        </div>
    </div>
</div>
