
@{
    ViewBag.Title = "Index";
}

<h2>Portal/Index</h2>

@*show option register or create new user*@

@Html.ActionLink("Register", "Register", "Portal", new { @class = "btn btn-lg btn-primary" })
@Html.ActionLink("Login", "Login", "Portal", new { @class = "btn btn-lg btn-primary" })
