@model Everlast.Models.MemberViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Member/Index</h2>

Welcome, @Model.Username!

<p class="lead">
    This would ideally be the member's account page, where they can manage their information,
    schedule sessions and do other things.
</p>