@{
    ViewBag.Title = "About";
}

<div class="v-cover-section">
    <div class="row v-cover-section-content">
        <div class="col-lg-12 text-center">
            <h1 class="display-1">About</h1>
            <h2 class="v-header">Read more about us.</h2>
        </div>
    </div>
</div>

<div class="jumbotron-fluid">
    <div class="col-lg-12">
        <h3 class="display-3">
            Meet The Team
        </h3>
        <p class="lead">Maybe start off with a lead sentence.</p>
        <p class="blockquote">Or even a quote?</p>
        <p>
            We have Lorem and many of the times we faced hardship of Ipsum candy tree socks. You and your
            western shows are Oren Dea Ipsum of Ipsum. Dolor sit amet, consectetur elit. Masen blandit aliques elm sed lectus ib.
        </p>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4">
            @*<img class="team-photo-scope-circle" src="~/img/people/nicole_sm.jpg" />*@
            <div class="card">
                <img class="card-img-top team-photo-scope" src="~/img/people/nicole_sm.jpg" alt="TeamMember" />
                <div class="card-body">
                    <h5 class="card-title">Nicole Brantley</h5>
                    <p class="card-text">
                        There is room here for some text. Really long text paragraphs may not
                        be something someone would want to read.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4">
            @*<img class="team-photo-scope-circle" src="~/img/people/doctor_sm.jpg" />*@
            <div class="card">
                <img class="card-img-top team-photo-scope" src="~/img/people/doctor_sm.jpg" alt="TeamMember" />
                <div class="card-body">
                    <h5 class="card-title">Dr Johnasan Gregory</h5>
                    <p class="card-text">
                        There is room here for some text. Really long text paragraphs may not
                        be something someone would want to read.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4">
            @*<img class="team-photo-scope-circle" src="~/img/people/leslie_sm.jpg" />*@
            <div class="card">
                <img class="card-img-top team-photo-scope" src="~/img/people/leslie_sm.jpg" alt="TeamMember" />
                <div class="card-body">
                    <h5 class="card-title">Leslie Pruitt</h5>
                    <p class="card-text">
                        There is room here for some text. Really long text paragraphs may not
                        be something someone would want to read.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="jumbotron-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="display-3">
                Our Story
            </h3>
            <p class="lead">Maybe start off with a lead sentence.</p>
            <p class="blockquote">Or even a quote?</p>
            <p>
                We have Lorem and many of the times we faced hardship of Ipsum candy tree socks. You and your
                western shows are Oren Dea Ipsum of Ipsum. Dolor sit amet, consectetur elit. Masen blandit aliques elm sed lectus ib.
            </p>
        </div>
    </div>
</div>
