
<div class="v-slim-section bg-teal">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="v-header">Contact</h2>
            <blockquote class="blockquote">
                <p class="mb-0">
                    Contact us today.
                </p>
            </blockquote>
        </div>
    </div>
</div>

<div class="v-cover-section">
    <div class="row v-cover-section-content">
        <div class="col-lg-12 text-center">
            <h2 class="v-header">Location</h2>
            <blockquote class="blockquote">
                <p class="mb-0">
                    100 W Hawkins Pkwy Suite E
                    <br />
                    Longivew, Tx 75605
                </p>
            </blockquote>
            <h2 class="v-header">Information</h2>
            <blockquote class="blockquote">
                <p class="mb-0">
                    EverlastingAesthetics@gmail.com
                    <br />
                    903.808.1552
                </p>
            </blockquote>
        </div>
    </div>
</div>