
@{
    ViewBag.Title = "Developer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Developer</h2>

<p class="lead">Developer Notes</p>
<hr />
<p>
    Hello! My name is Austin and I'm the lead developer building out this website: Everlasting Aesthetics.
    <br />
    <br />
    I do my best to keep this list up-to-date based on each stage update. If you have any questions, concerns
    or comments, please speak with client contact about development and I should respond within the hour. (10am to 10pm, 7days).
    If you're interested in joining the Asana project board, please speak with client contact and we can arrange accordingly.
</p>

<h2 class="v-header">Client's Ball</h2>
<p>The ball is in your court</p>
<ul>
    <li>(clients ball)pick font</li>
    <li>(clients ball)shade the client's selected color theme: white, gold, teal, black</li>
    <li>(clients ball)discuss page layouts</li>
    <li></li>
</ul>

<h2 class="v-header">Developer's Ball</h2>
<p>The ball is in our court</p>

<ul>
    <li>(server hosting resistance)finish automatic email testing via developers email</li>
    <li>(simple)need to implement treatment views and UI, attach to appointments after scheduling, hook up auto-email</li>
    <li>(resistance)verify email address after successfully creating an account of type member</li>
    <li>(simple)overload the appointment scheduler for bug testing with date times</li>
    <li>(simple)allow add-on services during appointment scheduling and anywhere else requested</li>
    <li>(resistance)proc out majority of crud service operations</li>
    <li>(simple)add salt/hash for passwords in the database for security</li>
    <li>(simple)verify sessions expire correctly for logged in users</li>
    <li>(resistance)build out image uploading area</li>
    <li>(simple)build out pdf creator for invoicing</li>
    <li>remove "0 hours and" from services that do not have hour durations</li>
    <li>work on responsive phone layout partially after verifying desktop views are sufficient</li>
    <li></li>
</ul>