@model List<Everlast.Models.Party>

<div class="v-cover-section">
    <div class="row v-cover-section-content">
        <div class="col-lg-12 text-center">
            <h1 class="display-1">Events</h1>
            <h2 class="v-header">Come join us.</h2>
        </div>
    </div>
</div>

@foreach (Everlast.Models.Party companyEvent in Model)
{
    <div class="row">
        <div class="col-lg-12">
            <div class="card v-card text-center">
                <div class="card-header">
                    @companyEvent.Title
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        @companyEvent.EntryFee
                    </h5>
                    <p class="card-text">
                        @companyEvent.Description
                    </p>
                    <a href="#" class="btn btn-primary">Join</a>
                </div>
                <div class="card-footer text-muted">
                    @companyEvent.PartyTimeSpan
                </div>
            </div>
        </div>
    </div>
}


@*Demo events below*@

<div class="row">
    <div class="col-lg-12">
        <div class="card v-card text-center">
            <div class="card-header">
                Model Day
            </div>
            <div class="card-body">
                <h5 class="card-title">
                    Model Day by Everlasting Aesthetics
                </h5>
                <p class="card-text">
                    $25 deposit will be required to hold your spot.
                </p>
                <a href="#" class="btn btn-primary">Join</a>
            </div>
            <div class="card-footer text-muted">
                Sunday, January 24th
            </div>
        </div>
    </div>
</div>
