<div class="v-cover-section">
    <div class="row v-cover-section-content">
        <div class="col-lg-12 text-center">
            <h1 class="display-1">Gallery</h1>
            <h2 class="v-header">See our work.</h2>
        </div>
    </div>
</div>