
<div class="v-slim-section bg-teal">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="v-header">Gallery</h2>
            <blockquote class="blockquote">
                <p class="mb-0">
                    See how others found their own Everlasting Aesthetics
                </p>
            </blockquote>
        </div>
    </div>
</div>