@{
    ViewBag.Title = "Home Page";
}
@*<div class="v-cover-section v-cover-image">
    <div class="row v-cover-section-content">
        <div class="col-lg-12 text-center">
        </div>
    </div>
</div>*@

<div class="v-cover-section">
    <div class="row v-cover-section-content">
        <div class="col-lg-12 text-center">
            <div class="display-1">Everlasting Aesthetics</div>
        </div>
    </div>
</div>
