@{
    ViewBag.Title = "Welcome";
}


<div class="v-section landing-bg">

</div>

<div class="v-slim-section bg-teal">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="v-header">Find your service.</h2>
            <blockquote class="blockquote">
                <p class="mb-0">
                    We offer aesthetic services tailored to your goals.
                </p>
            </blockquote>
            @Html.ActionLink("Services", "Services", "Home", null, new { @class = "btn btn-lg btn-outline-light" })
        </div>
    </div>
</div>

<div class="v-section">
    <div class="row v-cover-section-content">
        <div class="col-lg-12 text-center">
            <h2 class="v-header">Membership</h2>
            <blockquote class="blockquote">
                <p class="mb-0">
                    Sign up to become a member of Everlasting Aesthetics today.
                </p>
            </blockquote>
            @Html.ActionLink("Sign Up", "Register", "Account", null, new { @class = "btn btn-lg btn-outline-dark" })
        </div>
    </div>
</div>

<div class="v-slim-section">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="v-header">Events</h2>
            <blockquote class="blockquote">
                <p class="mb-0">
                    Join the fun and RSVP for any of our events within minutes.
                </p>
            </blockquote>
            @Html.ActionLink("View Events", "Events", "Home", null, new { @class = "btn btn-lg btn-outline-dark" })
        </div>
    </div>
</div>

@*<div class="v-slim-section">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="v-sock v-sock-left">
                    <h2 class="v-header">One Good Reason</h2>
                    <blockquote class="blockquote">
                        <p class="mb-0">
                            Maybe provide some reasons you guys are the best
                        </p>
                    </blockquote>
                </div>
                <div class="v-sock v-sock-center">
                    <h2 class="v-header">Two Quick Points</h2>
                    <blockquote class="blockquote">
                        <p class="mb-0">
                            Or have easy to remember phrases in these.
                        </p>
                    </blockquote>
                </div>
                <div class="v-sock v-sock-right">
                    <h2 class="v-header">Last Chance</h2>
                    <blockquote class="blockquote">
                        <p class="mb-0">
                            I'm not sure if I even like these blocks myself.
                        </p>
                    </blockquote>
                </div>
            </div>
        </div>
        bg-splice-teal-gold
    </div>*@

<div class="v-section bg-gold-wave">
    <div class="row v-cover-section-content">
        <div class="col-lg-12 text-center">
            <h2 class="v-header">Experience the visuals.</h2>
            <blockquote class="blockquote">
                <p class="mb-0">
                    See how others found their own everlasting aesthetics.
                </p>
            </blockquote>
            @Html.ActionLink("Gallery", "Gallery", "Home", null, new { @class = "btn btn-lg btn-outline-dark" })
        </div>
    </div>
</div>

@section scripts {

    <script type="text/javascript">

        $(document).ready(function () {
            //$("#txtLandingTitle").animate({
            //    fontSize: '60px',
            //}, 2000);
        });

    </script>

}